<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>subdomain takeover</title>
</head>
<body>
    <h2>subdomain takeover is possible due to dangling heroku dns</h2>
    <h3>please contact ben@batuhan.org</h3>
    <hr />
    <p>selamlar, zaten oVeo musahitiyim, bana sistemdeki numaramdan ulasin lutfen. son duzlukte guvenlik sikintilarini gozden gecirelim</p>
</body>
</html>